<template>
  <g class="entity"
     :transform="`translate(${node.y},${node.x})`"
     @click="select(node)"
     :key="node.id"
  >
    <rect
      :x="-(boxWidth / 2)"
      :y="-(boxHeight / 2)"
      width="150" height="40"
      :class="{active: selectedItem === index, inactive: selectedItem !== index}">
    </rect>
    <text dx="-65" dy="0" text-anchor="start" class="name">{{ node.name }}</text>
  </g>
</template>;

<script>
export default {
  props: ['node', 'index', 'selectedItem'],
  data() {
    return {
      boxWidth: 150,
      boxHeight: 40,
    };
  },
  methods: {
    select() {
      if (this.selectedItem !== this.index) {
        this.$emit('selected', { index: this.index, description: this.node.description, name: this.node.name });
      } else {
        this.$emit('selected', { index: null, description: null, name: null });
      }
    },
  },
};
</script>

<style>
.entity rect {
  fill: #fff;
}

.active {
  stroke: red;
  stroke-width: 3px;
}

.inactive {
  stroke: blue;
  stroke-width: 1px;
}

.entity {
  font: 14px sans-serif;
  cursor: pointer;
}
</style>
