<template>
  <div id="app">
    <div class="container">
      <div class="columns">
        <div class="column is-one-third">
          <section>
            <b-message
              v-model="notificationActive"
              :title="this.selectedName"
              type="is-info"
              aria-close-label="Close message">
              {{ selectedDescription }}
            </b-message>
          </section>
        </div>
        <div class="column">
          <TreeGraph @selected="selected" :notificationActive="notificationActive"></TreeGraph>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TreeGraph from '@/components/TreeGraph.vue';

export default {
  components: {
    TreeGraph,
  },
  data() {
    return {
      notificationActive: false,
      selectedName: null,
      selectedDescription: null,
      selectedNode: null,
    };
  },
  methods: {
    selected(item) {
      console.log(item);
      this.selectedNode = item.node;
      this.selectedName = item.name;
      this.selectedDescription = item.description;
      this.notificationActive = item.node !== null;
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
